# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka-1:29092,kafka-2:29093,kafka-3:29094
KAFKA_TOPIC=bitcoin_price

# MinIO / S3
MINIO_ROOT_USER=replace_me
MINIO_ROOT_PASSWORD=replace_me
MINIO_ACCESS_KEY=replace_me
MINIO_SECRET_KEY=replace_me
MINIO_ENDPOINT=http://minio:9000
BRONZE_PATH=s3a://bitcoin-lake/topics/bitcoin_price/*/*
SILVER_PATH=s3a://silver-lake/bitcoin_price/

# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=replace_me
POSTGRES_USER=replace_me
POSTGRES_PASSWORD=replace_me

# Alerts
DISCORD_WEBHOOK_URL=
